:root {
  --primary: #369c38;
  --secondary: #132A13;
  --padding: 15px;
  --cinza : #405040;
  --cinza-claro: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
  padding: 8px;
  border: 1px solid var(--cinza-claro);
  border-radius: 6px;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
